@model ProjectHall5.Models.Catering

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Catering</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CateringPackage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CateringPackage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CateringPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CateringPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CateringID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
