@model ProjectHall5.Models.Decor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Decor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DecorPackage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DecorPackage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DecorPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DecorPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DecorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
