@model IEnumerable<ProjectHall5.Models.UserDecor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Booking.OccasionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Decor.DecorPackage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DecorCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DecorNumberGuest)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Booking.OccasionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Decor.DecorPackage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DecorCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DecorNumberGuest)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserDecorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserDecorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserDecorID })
        </td>
    </tr>
}

</table>
